
svg {
  width: 960px;
  height; 500px;
  display: block;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica;
}

.rule line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.rule:first-child line {
  stroke: #000;
  stroke-opacity: 1;
}

rect {
  fill-opacity: .6;
  box-shadow: 10px 10px 5px #000;
}

text {
    text-anchor: middle;
}

text.yAxis {
  color: black;
  fill: black;
  text-shadow: 0 1px 0 #FFF;
}

.dot {
    stroke: #FFF;
    stroke-opacity: 1;
    fill: #FFF;
}

.axis, .grid {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #000;
}

.x.axis line.tick {
    stroke: none;
}

.bars {
    fill: steelblue;
    stroke: #777;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis text {
    text-anchor: end;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.y.grid text, .y.grid path {
    fill: none;
    stroke: none;
}

.y.grid line {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
