<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="contrib/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="contrib/bootstrap/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="css/slide.css">
    <script type="text/javascript" src="contrib/d3/d3.v3.min.js"></script>
    <script type="text/javascript" src="contrib/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/my-slide.js"></script>
  </head>
  <body>
    <div id="slide">
      <div id="header">
          <h1>Header</h1>
      </div>
      <div id="content-frame" class='with-only-head'>
        <div id="content">
        </div>
      </div>
    </div>
    <script type="text/javascript" src="contrib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
